<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- Oracle DataBase Connection -->
    <bean id="springdatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@orcl11gtst.sysbiz.org:1521:orcl"/>
        <property name="username" value="TRAINEE_JAVA"/>
        <property name="password" value="TRAINEE_JAVA"/>
    </bean>
  
    <!-- Spring Hibernate Integration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="springdatasource" />
        <property name="annotatedClasses">
            <list>
                <value>com.career.Model.EducationalDetails</value>
                <value>com.career.Model.JobPost</value>
                <value>com.career.Model.JobRoles</value>
                <value>com.career.Model.PersonalDetails</value>
                <value>com.career.Model.Skills</value>
                <value>com.career.Model.UserLog</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.isolation">8</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction manager for a Hibernate SessionFactory -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    
    <!-- Load Beans into Spring Container -->
    <bean id="ApplyJobBo" class="com.career.BoImpl.ApplyJobBoImpl" >
        <property name="applyJobDAO" ref="applyJobDAO" />       
    </bean>
    
    <bean id="applyJobDAO" class="com.career.DAOImpl.ApplyJobDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="educationalDetailsBo" class="com.career.BoImpl.EducationalDetailsBoImpl" >
        <property name="educationalDetailsDAO" ref="educationalDetailsDAO" />       
    </bean>
    
    <bean id="educationalDetailsDAO" class="com.career.DAOImpl.EducationalDetailsDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="jobPostBo" class="com.career.BoImpl.JobPostBoImpl" >
        <property name="jobPostDAO" ref="jobPostDAO" />       
    </bean>
    
    <bean id="jobPostDAO" class="com.career.DAOImpl.JobPostDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="loginDetailBo" class="com.career.BoImpl.LoginDetailBoImpl" >
        <property name="loginDetailDao" ref="loginDetailDAO" />       
    </bean>
    
    <bean id="loginDetailDAO" class="com.career.DAOImpl.LoginDetailDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="personalDetailsBo" class="com.career.BoImpl.PersonalDetailsBoImpl" >
        <property name="personalDetailsDao" ref="personalDetailsDao" />       
    </bean>
    
    <bean id="personalDetailsDao" class="com.career.DAOImpl.PersonalDetailsDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="skillsBo" class="com.career.BoImpl.SkillsBoImpl" >
        <property name="skillsDAO" ref="skillsDAO" />       
    </bean>
    
    <bean id="skillsDAO" class="com.career.DAOImpl.SkillsDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
     
    <!-- TransactionProxy -->
    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager" />
        <property name="transactionAttributes">
            <props>
                <prop key="*"/>
            </props>
        </property>
    </bean>

    <bean id="ApplyJobBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="ApplyJobBo" />
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>
    
    <bean id="educationalDetailsBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="educationalDetailsBo" />
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>
    
    <bean id="jobPostBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="jobPostBo" />
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>
    
    <bean id="loginDetailBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="loginDetailBo" />
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>
    
    <bean id="personalDetailsBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="personalDetailsBo" />
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>
    
    <bean id="skillsBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="skillsBo" />
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>
    
</beans>